streamlit
pandas
vaderSentiment
wordcloud
matplotlib
plotly
praw
scikit-learn
transformers
torch
umap-learn
hdbscan
bertopic
spacy
en-core-web-sm-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
